<header class="header">
  <div class="header-holder container">
    <a href="./" class="logo">
      <img src="./img/logo.png" alt="logo">
    </a>

    <nav class="nav" id="js-navigation">
      <ul>
        <li><a href="./restaurant.html">Restaurant</a></li>
        <li><a href="./data/KYKO_MENU_DIGITAL.pdf">Menu</a></li>
        <li><a href="#" data-btn="reserv">Reservierung
            <span id="resmio-kyko-restaurant"></span>
          </a></li>
        <li><a href="./kontakt.html">Kontakt</a></li>
      </ul>
    </nav>

    <div class="holder-block">
      <a href="https://www.instagram.com/kyko_restaurant" class="soc-link" target="_blank"></a>

      <button class="burger" id="js-btnMenu">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>